/*************通用样式*********/
*{
    padding: 0;
    margin: 0;
}
body{


}
a:hover, a:active{
    text-decoration: none;
    color: #666666;
}
a{
    text-decoration: none;
    color: #666666;
}
ul, ol{
    list-style: none;
}


/*************通用样式*********/
.lk_logo img{
    height: 30px;
}
.top_img{
    width: 48px;
    height: 65px;
    margin-right: 5px;
}
.spac{
    width: 600px;
    height: 30px;
}
.middle{
    height: 250px;
    background-image: url("../images/montanha.jpg");
     background-size: cover;
}
.middle_menu{
    width: 1020px;
    height: 90px;

    background-color: white;
    z-index: 999;
}
.block{
    height: 750px;
    margin-top: 100px;
    background: red;
}

.block1{
    background-color: yellow;
}
.block2{
    background-color: gray;
}
.block3{
    background-color: green;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.logo{
    width: 300px;
    height: 37px;
    background: url(../images/demo.png)no-repeat;
}


.footer-2 {
    height: 38px;
}
.footer-2  p{
    line-height: 3px;
    font-size: 12px;
    z-index: 999;
}
