/*************通用样式*********/
* {
    padding: 0;
    margin: 0;
}

a:hover, a:active {
    text-decoration: none;
    color: #666666;
}

a {
    text-decoration: none;
    color: #666666;
}

ul, ol {
    list-style: none;
}


/*************通用样式*********/
.lk_logo img {
    height: 30px;
}

.top_img {
    width: 48px;
    height: 65px;
    margin-right: 5px;
}

.spac {
    width: 600px;
    height: 30px;
}

.middle {
    height: 250px;
    background-image: url("../images/montanha.jpg");
    background-size: cover;
}

.middle_menu {
    width: 550px;
    height: 90px;

    background-color: white;
    z-index: 999;
}

.block {
    height: 750px;
    margin-top: 100px;
    background: red;
}

.block1 {
    background-color: yellow;
}

.block2 {
    background-color: gray;
}

.block3 {
    background-color: green;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.logo {
    width: 300px;
    height: 37px;
    background: url(../images/demo.png) no-repeat;
}


.footer-2 {
    height: 38px;
}

.footer-2 p {
    line-height: 3px;
    font-size: 12px;
    z-index: 999;
}

/****************Login***********/


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="User"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#Login_main{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    height: 650px;

}
